.allting
{
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;  
    grid-template-columns: 1fr 3fr; 
    border: 2px solid yellow;
    background-color: #015aa2;
}

img
{
    max-width: 200px;
    max-height: 200px;
}

nav
{
    border: 2px solid #fff200;   
}
article
{
    border: 2px solid #fff200;   
}

.title
{
    border: 2px solid #fff200;  
    text-align: center; 
}

main
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid #fff200;
}

article
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside
{
    border: 2px solid #fff200;
}
footer
{
    border: 2px solid #fff200;  
}